@charset "utf-8";


/* header css*/
.gnb_box li:hover{ background-color: #888;
    transition: all 1.5s;}
ul li.on{
background-color: #333333;
color: #fff;
transition: all 1.5s;
}
/*스타일*/
.gnb_box{
    width: 100%;
    height: 100vh;
    text-align: center;
    display: none; 
    opacity: 0;
    transition: all 1.5s;
    max-height: 0;
    overflow: hidden;
    cursor: pointer; 
    border-radius: 5px;
    background-color: #D9D9D9;
    }

.gnb_box.open{
    display: block; 
    opacity: 1; 
    max-height: 100vh; 
    }

/* 메뉴 항목 */
.gnb_box ul{margin-top: 100px;
            transition: all 1.5s;}
.gnb_box li{
    font-size: 30px;
    padding: 40px 80px;
    transition: all 1.5s;
    }
.gnb_box ul li:first-child{display: none;}

/* 버튼 스타일 */
.gnb_btn{
    width: 60px; 
    height: 50px;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    border-radius: 5px;
    }

.gnb_btn span {
    width: 80%; 
    height: 5px;
    background-color: #D9D9D9;
    margin: 10px auto 0;
    display: block;
    border-radius: 12px;
    }

.close_btn {
        background-color: transparent;
        border: none;
        font-size: 20px; 
        cursor: pointer; 
        position: absolute; 
        top: 20px; 
        right: 20px;
        }

.Project{display: none;}

header{width: 100%; height: 6%;
        position: fixed;
        top: 0; left: 0;
        z-index: 3;
        }

.gnb_mo_logo{width: 20%;
            height: 6%;
            position: fixed;
            top: 0; left: 5%;
            }
.gnb_mo_logo h2{font-size: 8vw;
                }        
.gnb_mo_logo h2 span{font-size: 20px}

/* 태블릿 */
@media all and (min-width: 834px) {

header{width: 100%; height: 10%;
        }
.gnb_box{width: 100%; height: 100vh;
        }
.gnb_box ul{margin-top: 150px;}
.gnb_box li{font-size: 40px;
        padding: 40px 80px;
            }
ul li.on{
background-color: #333333;
color: #fff;
width: 100%;
}
.gnb_box li span{font-size: 20px;}
.gnb_btn{
    width: 100px; 
    height: 80px;
}
.gnb_btn span {
    width: 60%; 
    height: 8px;
}
.close_btn {
        position: absolute; 
        top: 40px; 
        right: 40px; 
    }

.gnb_mo_logo h2{font-size: 7vw;
}        


}/* 태블릿 */

/* PC */
@media all and (min-width: 1290px) {

header{width: 100%; height: 13%;
        }
.gnb_box li{font-size: 50px;
            }

.gnb_btn {
    width: 100px; 
    height: 80px;
}

.gnb_btn span {
    width: 70%; 
    height: 8px;
}
    
.gnb_mo_logo h2{font-size: 5vw;
}        








}/* PC */
