@charset "utf-8";
body {background-color: #FCF0F0;}
/*header*/

header{width: 100%; height: 150px; background-color: #FCF0F0;
       }

header .meum{width: 1396px ;display: flex;  margin: 0 auto;}

header .meum ul{width: 488px ; display: flex; justify-content: space-between;
                margin-top: 40px;
                }

header .meum ul li a{font-size: 20px; color: #222222; font-weight: bold;
                 transition: 2s;
                }
header .meum ul li a:hover{color: #C03030;}

header .meum img{width: 418px; height: 120px; margin-left: 40px; margin-right: 40px;
               }

/*search*/
.search{width: 100%; 
        margin-top: 150px; margin-bottom: 150px;}
.inputbox{width: 600px; height: 100px;                  
            margin: 0 auto;
            position: relative; 
             }

.search .s_box input{width: 700px; height: 80px;   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 0;}



.inputbox button img{ width: 60px; height: 60px;
                     position: absolute;top: 10px;right: -95px;
                     cursor: pointer; /*손모양으로바뀜*/
                    }

/*main*/


.main {width: 100%;}

.main .main_bn{width: 1396px;
                height: 620px;
                margin: 0 auto;
                }
.main .main_bn p{ text-align: center;
                 margin-bottom: -10px;
                font-size: 15px;
                 color: #C03030;
                font-weight: bold;}
.main .main_bn h2{ text-align: center;
                    margin-bottom: 50px;}



.main .main_bn .img_bn img{width: 1396px; height: 600px;}
.swiper {
    width: 1396px;
    height: 620px;
    margin: 0 auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 1396px;
    height: 620px;
    object-fit: cover;
  }


/* B_teg */

.main .B_tag {width: 1396px; height: 500px;
                margin: 0 auto;}
.main .B_tag h2{text-align: center; margin-bottom: 50px;
                }
.main .B_tag .B_logo .bestp{ text-align: center;
    margin-top: 250px;
    margin-bottom: -10px;
   font-size: 15px;
    color: #C03030;
   font-weight: bold;}
.main .B_tag .box_logo {display: flex;justify-content: space-between;
                       }
.main .B_tag .box_logo .box1:hover {
    transform: scale(1.3);
    transition: 0.5s ease /* 요소를 20% 확대 */
                      }
.main .B_tag .box_logo .box1:hover{
    filter: sepia(100%) saturate(50%) hue-rotate(40deg) brightness(0.9);
                        }                     
.main .B_tag .box_logo .box1{width: 150px; height: 150px; 
     border-radius: 30px;
    background-color:aliceblue;  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative; 
    margin-bottom: 150px;}
.main .B_tag .box_logo p{font-size: 20px; text-align: center;
   margin-top: 110px;
    cursor: pointer;
}
.main .B_tag .box_logo img{width: 130px; height: 130px; 
    position: absolute;top: 0px;right: 0 px;
    cursor: pointer }

/* BEST */
.T_best {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin:  0; /* 위아래 100px 마진 */
    padding: 10px; /* 좌우 패딩은 0으로 설정 */
    box-sizing: border-box; /* padding과 border를 포함한 전체 크기 계산 */
}

.T_best .best {
    max-width: 1396px; /* 내부 컨텐츠의 최대 너비 */
    margin: 0 auto; /* 내부 컨텐츠를 중앙 정렬 */
}

.T_best .best h2 {
    text-align: center;
    margin-bottom: 50px; /* 위아래 50px 마진 추가 */

}

.T_best .best .a_img {
    display: flex;
}

.T_best .best .a_img .R_img {
    margin-right: 10px;
}

.T_best .best .a_img .L_img {
    margin-bottom: 10px;
}

.T_best .best .a_img img {
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.T_best .best .a_img img:hover {
    transform: scale(1.03);
    transition: transform 0.5s ease;
}
/*s_best*/

.s_best {
    width: 1396px;
    margin: 0 auto;
}

.s_best .tit h2 {
    text-align: center;
    margin-bottom: 50px;
}

.s_best p {
    text-align: center;
    margin-top: 100px;
    font-size: 15px;
    margin-bottom: -10px;
    color: #C03030;
    font-weight: bold;
}

.s_best ul {
    display: flex;
    justify-content: center;
    margin: 0 auto 100px;
}     

.s_best ul li {
    color: #888888;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
}

.s_best ul li:hover {
    color: #222222;
}

.s_best ul li::after {
    content: '|';
    color: #222222;
    margin-left: 10px;
    margin-right: 10px;
}

ul li:nth-last-child(1)::after {
    content: none;
}

.s_best .s_best_i {
    width: 1285px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.s_best_i .img_box {
    margin-bottom: 50px;
    width: 100%;
    height: 310px;
    display: none; 
    align-items: center
 

}
.s_best_i .img_box_2{display: block;}

.s_best_i .img_box a { float: left; display: block; 
                    margin-right: 10px;
                
                }

.s_best_i .img_box a:last-child {
margin-right: 0;
}

.s_best_i .img_box a:first-child{margin-left: 10px;
}

.s_best_i .img_box img {
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
   
}
.s_best ul li.on{color: #333333;
                font-size: 36px;
                font-weight: bold;}
.s_best a:hover{transform: scale(1.03);
    transition: transform 0.5s ease;}
/* REVIEW */
.review {
    width: 100%; /* 전체 화면 너비를 차지 */
    background-color: #fff; /* 배경색을 흰색으로 설정 */
    padding: 20px;
    overflow: hidden;
}

.review .content {
    width: 1396px; /* 내부 콘텐츠의 너비 */
    margin: 0 auto; /* 콘텐츠를 중앙 정렬 */
}

.review h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.review .swiper {
      width: 100%;
      height: 100%;
    }

.review .RE_img {
    width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
    max-width: 1160px; /* 최대 너비 설정 */
    display: flex;
    margin: 0 auto;
}
.review .RE_img .swiper-slide{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 10px;
}
.review .RE_img .swiper-slide img{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    }
.swiper-wrapper{
        transition-timing-function: linear;
        }   


/* after review */

.af_review {width: 1100px; 
            margin: 0 auto;

            }
.af_review .af_box {width: 100%; 
                    margin-top: 100px;
   
                    display: flex; justify-content: space-between;}
.af_review .af_box img{width: 200px; height: 150px;
                border-radius: 30px;
                
                background-color:aliceblue;  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
                position: relative; 
             }


.af_review .af_box a:hover {
    transform: scale(1.2); /* 요소를 20% 확대 */
    transition: transform 0.5s ease
}
.af_review .af_box img:hover{filter:  sepia(100%)
 saturate(50%) hue-rotate(40deg) brightness(0.9);}
  

.af_review .af_box p{font-size: 30px; text-align: center;
                     cursor: pointer; 
                   }
    

/* footer */

footer{width: 100%; height: 200px;
        background-color: #8E8888;
        
        margin-top: 150px;
    }

footer .f_box ul{width: 1396px;
                margin: 0 auto;
                display: flex;
               
                }
footer .f_box .ff_box{
                        width: 1396px;
                        margin: 0 auto;
                        display: flex;
               }
footer .f_box .ff_box .f_text{margin-bottom: 10px;
                    margin-top: 10px;  
                    color: #444444;
                    font-size: 12px;
                    position: relative;
                }

footer .f_box ul li::after{content: '|'; color: #222222; 
    margin-left: 10px; margin-right: 10px;
    font-size: 13px;
   }
footer .f_box ul li:last-child::after {content: none;}
footer .f_box ul li:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease}

footer .f_box .ff_box a img{width: 99px; height: 99px;
                        margin-left: 1300px;
                        position: absolute;
                        top: -15px;
                        
                        }
footer .f_box .ff_box a img:hover {
       filter: brightness(0.4) invert(0.2); 
                        }



footer .f_box ul li a{margin-bottom: 10px;
                            margin-top: 10px;  
                            color: #222222;
                            font-weight: 700;
                            font-size: 15px;
                            
                        }
footer .f_box ul:nth-child(1){ border-bottom: 1px solid #222222 ;
                            }